# SQL Demonstration using PSE Data from Kaggle
###### by Denber Abuan


###### For this demonstration, the dataset used was from Kaggle by ShaneMaglangit available through this link:
* https://www.kaggle.com/datasets/shanemaglangit/philippines-stock-exchange-dataset
##### In this page, the dataset was described as 
* "This dataset contains the historical data of 303 publicly listed companies in the Philippines Stock Exchange from December 2011 to March 24, 2021"

### Regarding the preparation of the dataset
* Microsoft Excel was used to change the formatting to be as compatible to MySQL as possible. Date was formatted to 'YYYY-MM-DD' and the prices as well as the volume were converted into plain numbers. <b>Null values</b> in the volume column were also replaced with "0".

### Importing the dataset
* Since using the MySQL Import Wizard would take too much time, the dataset (saved as a tab delimited txt file) was imported through the MySQL command line interface using LOAD DATA INFILE
* The MySQL documentation is available through this link: https://dev.mysql.com/doc/refman/8.0/en/load-data.html

### Preparing the dependencies

In [18]:
!pip install ipython-sql --quiet

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

* To keep the password safe, getpass is used

In [19]:
from getpass import getpass

password = getpass()

········

In [20]:
conn_str = "mysql+pymysql://root:{}@localhost:3306/stocks".format(password)

In [21]:
%sql {conn_str}

### Let's start making queries

* First, here is the <b>table structure</b>.

In [22]:
%sql DESCRIBE stock;

 * mysql+pymysql://root:***@localhost:3306/stocks
9 rows affected.

[('stockName', 'varchar(100)', 'YES', '', None, ''),
 ('ticker', 'varchar(10)', 'YES', '', None, ''),
 ('datedate', 'date', 'YES', '', None, ''),
 ('price', 'double', 'YES', '', None, ''),
 ('openPrice', 'double', 'YES', '', None, ''),
 ('highPrice', 'double', 'YES', '', None, ''),
 ('lowPrice', 'double', 'YES', '', None, ''),
 ('volumeInBillions', 'double', 'YES', '', None, ''),
 ('changePercent', 'double', 'YES', '', None, '')]

* Here's a <b>sample</b> of the table

In [23]:
%sql SELECT * FROM stock LIMIT 3;

 * mysql+pymysql://root:***@localhost:3306/stocks
3 rows affected.

[('Abra Mining and Industrial Corp', 'AR', datetime.date(2021, 3, 3), 0.0046, 0.0057, 0.0071, 0.0043, 215.45, -0.1481),
 ('Abra Mining and Industrial Corp', 'AR', datetime.date(2021, 3, 2), 0.0054, 0.0036, 0.0054, 0.0036, 122.74, 0.5),
 ('Abra Mining and Industrial Corp', 'AR', datetime.date(2021, 3, 1), 0.0036, 0.0035, 0.0036, 0.0033, 5.89, 0.0588)]

* We'll begin with getting the <b>10 stocks with the highest average prices</b>.

In [24]:
%%sql

SELECT
  stockName,
  ticker,
  FORMAT(AVG(price), 2) AS avgPrice
FROM stock
GROUP BY stockName, ticker
ORDER BY AVG(price) DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/stocks
10 rows affected.

[('PLDT Inc', 'TEL', '1,994.21'),
 ('Globe Telecom Inc', 'GLO', '1,843.79'),
 ('Sun Life Financial Inc', 'SLF', '1,529.71'),
 ('BHI Holdings Inc', 'BH', '1,225.84'),
 ('Petron Corp Pref B', 'PRF2B', '1,067.51'),
 ('Petron Perpetual Preferred Shares Series 3 - Subseries 3B', 'PRF3B', '1,067.27'),
 ('Petron Perpetual Preferred Shares Series 3 - Subseries 3A', 'PRF3A', '1,047.27'),
 ('Petron Corp Pref A', 'PRF2A', '1,036.79'),
 ('San Miguel Pure Foods Company Inc Pref', 'FBP2', '1,009.99'),
 ('Phoenix Petroleum Philippines Inc', 'PNX4', '1,004.04')]

* Now, let's see the <b>10 stocks with the lowest average prices</b>.

In [25]:
%%sql

SELECT
  stockName,
  ticker,
  FORMAT(AVG(price), 3) AS avgPrice
FROM stock
GROUP BY stockName, ticker
ORDER BY AVG(price)
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/stocks
10 rows affected.

[('Abra Mining and Industrial Corp', 'AR', '0.004'),
 ('United Paragon Mining Corp', 'UPM', '0.010'),
 ('Oriental Petroleum and Minerals Corp', 'OPM', '0.014'),
 ('Oriental Petroleum and Minerals Corp B', 'OPMB', '0.015'),
 ('IP E-Game Ventures Inc', 'EG', '0.018'),
 ('Manila Mining Corp', 'MA', '0.018'),
 ('Manila Mining Corp b', 'MAB', '0.021'),
 ('Philodrill Corp', 'OV', '0.021'),
 ('Boulevard Holdings Inc', 'BHI', '0.089'),
 ('Swift Foods Inc', 'SFI', '0.139')]

* Considering the pandemic, it would be interesting to know <b>which 10 stocks had the highest stock prices in 2020</b>.

In [26]:
%%sql

SELECT
  YEAR(datedate) AS YearAvg,
  stockName,
  ticker,
  FORMAT(AVG(price), 2) AS avgPrice
FROM stock
WHERE YEAR(datedate) = 2020
GROUP BY YearAvg, stockName, ticker
ORDER BY AVG(price) DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/stocks
10 rows affected.

[(2020, 'Globe Telecom Inc', 'GLO', '2,056.05'),
 (2020, 'Sun Life Financial Inc', 'SLF', '1,813.66'),
 (2020, 'PLDT Inc', 'TEL', '1,236.25'),
 (2020, 'Petron Perpetual Preferred Shares Series 3 - Subseries 3B', 'PRF3B', '1,067.29'),
 (2020, 'Petron Perpetual Preferred Shares Series 3 - Subseries 3A', 'PRF3A', '1,044.73'),
 (2020, 'Petron Corp Pref B', 'PRF2B', '1,033.52'),
 (2020, 'GT Capital Holdings Inc Pref B', 'GTPPB', '1,005.63'),
 (2020, 'Phoenix Petroleum Philippines Inc', 'PNX4', '1,000.05'),
 (2020, 'GT Capital Holdings Inc Pref A', 'GTPPA', '996.95'),
 (2020, 'San Miguel Pure Foods Company Inc Pref', 'FBP2', '995.90')]

* It would also be interesting to know which stocks had the most volume of transactions in 2020. Let's <b>compare the total volume per year of the 5 stocks with the most volume in 2020 compared to the total volume for all the stocks during that year</b>.

In [27]:
%%sql

WITH yearvolume AS (
SELECT
  YEAR(datedate) AS volumeYear,
  FORMAT(SUM(volumeInBillions) OVER(PARTITION BY YEAR(datedate)), 2) AS TotalVolumeYear
FROM stock
WHERE YEAR(datedate) = 2020
LIMIT 1
)

SELECT
  YEAR(datedate) AS 'Year',
  stockName,
  ticker,
  FORMAT(SUM(volumeInBillions), 2) AS 'TotalVolume(Billions)',
  TotalVolumeYear AS 'TotalVolumeforYear(Billions)'
FROM stock
JOIN yearvolume
  ON YEAR(datedate) = volumeYear
WHERE YEAR(datedate) = 2020
GROUP BY YEAR(datedate), stockName, ticker, TotalVolumeYear
ORDER BY SUM(volumeInBillions) DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/stocks
5 rows affected.

[(2020, 'Robinsons Retail Holdings Inc', 'RRHI', '90,133.05', '7,268,577.21'),
 (2020, 'Security Bank Corp', 'SECB', '86,081.76', '7,268,577.21'),
 (2020, 'Jollibee Foods Corp', 'JFC', '80,731.32', '7,268,577.21'),
 (2020, 'Ayala Corp', 'AC', '80,633.30', '7,268,577.21'),
 (2020, 'Aboitiz Equity Ventures Inc', 'AEV', '77,951.74', '7,268,577.21')]

* Since our dataset only has records up to the first few months of 2021, we'll see the <b>10 stocks with the highest average stock prices in that year while also observing how they fared from 2018-2021</b>.

In [28]:
%%sql

SELECT
  stockName,
  ticker,
  FORMAT(AVG(CASE WHEN YEAR(datedate) = 2018 THEN price ELSE NULL END),2) AS '2018AvgPrice',
  FORMAT(AVG(CASE WHEN YEAR(datedate) = 2019 THEN price ELSE NULL END),2) AS '2019AvgPrice',
  FORMAT(AVG(CASE WHEN YEAR(datedate) = 2020 THEN price ELSE NULL END),2) AS '2020AvgPrice',
  FORMAT(AVG(CASE WHEN YEAR(datedate) = 2021 THEN price ELSE NULL END),2) AS '2021AvgPrice'
FROM stock
GROUP BY stockName, ticker
ORDER BY AVG(CASE WHEN YEAR(datedate) = 2021 THEN price ELSE NULL END) DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/stocks
10 rows affected.

[('Sun Life Financial Inc', 'SLF', '1,889.17', '1,804.30', '1,813.66', '2,182.11'),
 ('Globe Telecom Inc', 'GLO', '1,824.97', '1,985.56', '2,056.05', '2,011.34'),
 ('PLDT Inc', 'TEL', '1,377.98', '1,163.32', '1,236.25', '1,351.25'),
 ('Petron Perpetual Preferred Shares Series 3 - Subseries 3B', 'PRF3B', None, '1,046.38', '1,067.29', '1,116.87'),
 ('Petron Perpetual Preferred Shares Series 3 - Subseries 3A', 'PRF3A', None, '1,032.74', '1,044.73', '1,092.52'),
 ('SM Investments Corp', 'SM', '934.04', '988.05', '928.33', '1,035.17'),
 ('GT Capital Holdings Inc Pref B', 'GTPPB', '978.80', '943.41', '1,005.63', '1,031.43'),
 ('Petron Corp Pref B', 'PRF2B', '1,063.76', '1,018.48', '1,033.52', '1,028.21'),
 ('GT Capital Holdings Inc Pref A', 'GTPPA', '975.06', '941.80', '996.95', '1,019.79'),
 ('Phoenix Petroleum Philippines Inc', 'PNX4', None, '1,027.48', '1,000.05', '1,006.62')]

* Now, let's see the <b>10 stocks with the highest volume in 2021 and how their total volume per year fared in 2018-2021</b>.

In [29]:
%%sql

SELECT
  stockName,
  ticker,
  FORMAT(SUM(CASE WHEN YEAR(datedate) = 2018 THEN volumeInBillions ELSE NULL END),2) AS '2018Volume',
  FORMAT(SUM(CASE WHEN YEAR(datedate) = 2019 THEN volumeInBillions ELSE NULL END),2) AS '2019Volume',
  FORMAT(SUM(CASE WHEN YEAR(datedate) = 2020 THEN volumeInBillions ELSE NULL END),2) AS '2020Volume',
  FORMAT(SUM(CASE WHEN YEAR(datedate) = 2021 THEN volumeInBillions ELSE NULL END),2) AS '2021Volume'
FROM stock
GROUP BY stockName, ticker
ORDER BY SUM(CASE WHEN YEAR(datedate) = 2021 THEN volumeInBillions ELSE NULL END) DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/stocks
10 rows affected.

[('Security Bank Corp', 'SECB', '96,159.74', '89,753.26', '86,081.76', '27,305.43'),
 ('East West Banking Corp', 'EW', '71,841.59', '85,643.04', '73,514.65', '25,764.78'),
 ('Cebu Air Inc', 'CEB', '50,406.99', '45,858.53', '67,156.64', '23,219.04'),
 ('Jollibee Foods Corp', 'JFC', '107,407.84', '99,892.54', '80,731.32', '22,637.07'),
 ('Atlas Consolidated Mining and Development Corp', 'AT', '32,051.39', '27,012.15', '60,885.31', '22,593.12'),
 ('Pilipinas Shell Petroleum Corp', 'SHLPH', '78,307.27', '74,335.69', '73,958.61', '22,239.84'),
 ('Aboitiz Equity Ventures Inc', 'AEV', '74,082.15', '80,411.21', '77,951.74', '22,198.80'),
 ('First Gen Corp', 'FGEN', '65,488.03', '38,778.12', '59,405.76', '20,959.06'),
 ('Philex Petroleum Corp', 'PXP', '32,719.86', '62,668.00', '61,190.35', '20,832.30'),
 ('Robinsons Retail Holdings Inc', 'RRHI', '84,666.98', '81,324.11', '90,133.05', '20,605.75')]